<nav id="navbar">
	<span class="four columns">
		<%= link_to_unless_current 'Home', root_path %>
		<%= link_to_unless_current 'Products', products_path %>
		<%= link_to_unless_current 'Retailers', retailers_path %>
	</span>

	<span class="eight columns">
		<%= link_to 'Add a new product', new_product_path, class: "button button-primary" %>
		<%= link_to 'Add a new retailer', new_retailer_path, class: "button button-primary" %>
	</span>
</nav>