<%= form_with(model: retailer) do |form| %>
  <% if retailer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(retailer.errors.count, "error") %> prohibited this retailer from being saved:</h2>

      <% retailer.errors.values.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field" data-controller="address" data-action="map-loaded@window->address#initGoogle">
    <%= form.label :address %>
    <%= form.search_field :address, size: "50x10", "data-address-target" => "input" %>
    <%= form.hidden_field :maps_url, name: "retailer[maps_url]", "data-address-target" => "url" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
