<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @retailer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @retailer.address %>
</p>

<p>
  <strong>Maps url:</strong>
  <%= @retailer.maps_url %>
</p>

<p>
  <%= image_tag @retailer.qr_code if @retailer.qr_code.attached? %>
</p>

<%= link_to 'Edit', edit_retailer_path(@retailer) %> |
<%= link_to 'Back', retailers_path %>
