<p id="notice"><%= notice %></p>

<h1><%= @retailer.name %></h1>

<p>
  <%= link_to @retailer.address, @retailer.maps_url, target: "_blank" %>
</p>

<h4>Scan QR code for Google Maps link</h4>
<p>
  <%= image_tag @retailer.qr_code if @retailer.qr_code.attached? %>
</p>

<%= link_to 'Edit', edit_retailer_path(@retailer) %> |
<%= link_to 'Back', retailers_path %>
