<p id="notice"><%= notice %></p>

<p>
  <strong>Brand name:</strong>
  <%= @product.brand_name %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Product code:</strong>
  <%= @product.product_code %>
</p>

<p>
  <strong>Retail price:</strong>
  <%= @product.retail_price %>
</p>

<h2>Retailer Locations</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Maps url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product.retailers.each do |retailer| %>
      <tr>
        <td><%= retailer.name %></td>
        <td><%= retailer.address %></td>
        <td><%= retailer.maps_url %></td>
        <td><%= image_tag retailer.qr_code if retailer.qr_code.attached? %></td>
        <td><%= link_to 'Show', retailer %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
